*{
    font-family: 'Poppins', sans-serif;
}

/* .body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f1f3f6;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
} */
.input{
    width: 100%;
    padding: 8px;
}
 .grid {
    display: flex;
    align-items: center; 
}

.container{
    justify-content: space-between;
}



