* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-head {
    text-align: center;
    font-size: 50px;
}

.form {
    text-align: center;
}

.email {
    padding: 5px;
    font-size: 15px;
    margin-top: 10px;

}

.password {
    padding: 5px;
    font-size: 15px;
    margin-top: 10px;

}

.button {
    font-size: 20px;
    padding: 5px 25px;
    border-radius: 8px;
    margin-top: 20px;
    border: none;
}
.sign{
    display: flex;
    justify-content: center;
    gap: 10px;
}