* {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}


.input {
    width: 100%;
    padding: 8px;
}

.main {
    display: flex;
    align-items: center;
    margin: 5px 10px 0px 10px;
}

.container {
    justify-content: space-between;
}

/* .btn {
    background: #38bdf8;
    color: white;
    border: none;
    padding: 5px 20px 5px 20px;
} */

.home-body {
    background: #f1f3f6;
}

.post-div {
    text-align: center;
    background: white;
    padding: 20px;
    margin: 30px 400px 20px 400px;
    border-radius: 20px;
}

.post-input {
    padding: 5px;
    width: 300px;
    margin-top: 10px;
    /* border: gold; */
}

.post-btn {
    background: #38bdf8;
    color: white;
    border: none;
    padding: 5px 138px 5px 138px;
    margin-top: 15px;
    font-size: 17px;
}